.content-container{
    .article-container{
        display: flex;
        flex-flow: row wrap;
        article{
            overflow: hidden;
            img{
                width: 100%;
                transition: all .3s ease-in;
                &:hover{
                    transform: scale(1.05);
                }
            }
            .article-content{
                h2{
                    margin: 10px 0;
                }
            }
        }
    }
}

@media screen and (max-width: $tablet-portrait + px){
    .content-container{
        .article-container{
            margin: 0 -10px;
        }
    }
}