.booking-step{
    width: calc(100% - 200px);
    min-height: 50px;
    position: fixed;
    z-index: 1000;
    top: 0;
    background-color: #000;
    color: $grey-lighter;
    display: flex;
    justify-content: space-around;
    div{
        margin: auto;
        p{
            span.number{
                display: inline-block;
                margin: 0 5px;
                width: 25px;
                height: 25px;
                border: 1px solid $grey-lighter;
                border-radius: 50%;
                text-align: center;
                line-height: 25px;
            }
        }
        &.active{
            p{
                color: #fff;
                span.number{
                    border: 1px solid #fff;
                    background: #fff;
                    color: #000;
                }
            }
        }
    }

}
.search-container{
    display: flex;
    flex-flow: row wrap;
    h1{
        width: 100%;
    }
    .search-block{
        display: inline-block;
        width: 320px;
        margin-bottom: 30px;
        .form-container{
            display: flex;
            flex-flow: column nowrap;
            background-color: $grey-lighter;
            input, 
            select{
                cursor: pointer;
                height: 30px;
                width: 90px;
            }
            label{
                line-height: 30px;
            }
            .form-row{
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                margin: 10px;
            }
            .button-visual{
                width: 200px;
                align-self: flex-end;
            }
            #select-invite{
                flex-flow: column nowrap;
                span{
                    display: block;
                    width: 100%;
                }
                .invite-wrapper{
                    width: 100%;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                }
            }
        }
    }
    .room-result{
        width: calc(100% - 320px);
        .room-detail{
            margin:0 0 20px 20px;
            display: flex;
            flex-flow: row wrap;
            background-color: $grey-lighter;
            .room-visual{
                width: 60%;
                overflow: hidden;
                display: flex;
                flex-flow: column nowrap;
                .main-visual{
                    display: flex;
                    flex-flow: column nowrap;
                    overflow: hidden;
                    margin: 0;
                    img{
                        cursor: pointer;
                        width: 100%;
                        -moz-transition: all 0.3s;
                        -webkit-transition: all 0.3s;
                        transition: all 0.3s;
                    }
                }
                .all-thumbnail{
                    width: 100%;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                    .room-thumbnail{
                        display: flex;
                        flex-flow: column nowrap;
                        overflow: hidden;
                        margin-top: 5px;
                        width: calc(20% - 5px);
                        img{
                            cursor: pointer;
                            width: 100%;
                            transition: all 0.3s;
                        }
                    }
                }
            }
            .room-content{
                width: 40%;
                padding: 10px;
                h3{
                    font-family: 'Playfair Display', serif;
                    font-size: 18px;
                    padding: 7px 0;
                }
                h4{
                    font-size: 14px;
                    color: $gold;
                }
                p{
                    font-size: 14px;
                    line-height: 16px;
                    margin:3px 0;
                }
                .star-ratings-sprite{
                    margin: 10px 0;
                }
            }
        }
    }
}

#overlay-thumbnail{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: rgb(35, 31,	32);
    background: rgba(35, 31, 32, 0.8);
    #thumbnail-carousel{
        position: relative;
        overflow: hidden;
        width: 70%;
        max-width: 900px;
        height: auto;
        margin: 0 auto;
        transform: translateY(50%);
        img{
            width: 100%;
        }
        .swiper-pagination-bullet-active {
            background: #fff;
        }
        .swiper-button-next{
            background-image: url('../../img/asset/next-white.svg');
            background-size: 40px 44px;
        }
        .swiper-button-prev{
            background-image: url('../../img/asset/prev-white.svg');
            background-size: 40px 44px;
        }
    }
    .fa-close{
        position: absolute;
        font-size: 30px;
        color: #fff;
        right: 40px;
        top: 70px;
    }
}


@media screen and (max-width: $desktop-small + px) {
    .booking-step{
        top: 50px;
        width: 100%;
    }
    .search-container{
        .search-block {
            width: 500px;
        }
        .room-result{
            width: 100%;
            .room-detail{
                margin: 0 0 20px;
            }
        }
    }
    #overlay-thumbnail{
        #thumbnail-carousel{
            width: 80%;
        }
    }
}


@media screen and (max-width: $tablet-portrait + px) {

    .booking-step{
        position: relative;
        div{
            p{
                span:not(.number){
                    display: none;
                }
            }
        }
    }
    .search-container {
        margin-top: 100px;
        .search-block{
            width: 100%;
            max-width: 100%;
            .form-container{
                width: 100%;
                .form-row{
                    flex-flow: row wrap;
                }
                .button-visual{
                    width: calc(100% - 20px);
                }
                #select-invite{
                    span{
                        display: block;
                        width: 100%;
                    }
                    .invite-wrapper{
                        width: 100%;
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: space-between;
                    }
                }
            }
        }
        .room-result{
            .room-detail{
                flex-flow: column nowrap;
                margin-bottom: 20px;
                .room-visual,
                .room-content{
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
    #overlay-thumbnail{
        #thumbnail-carousel{
            width: 90%;
        }
        .fa-close{
            font-size: 20px;
            color: #fff;
            right: 20px;
            top: 60px;
        }
    }
}