.search-block{
    max-width: 300px;
    background-color: $grey-lighter;
    padding: 10px;
    form{
        display: flex;
        flex-flow: column nowrap;
        input, 
        select{
            cursor: pointer;
            height: 30px;
            width: 90px;
        }
        label{
            line-height: 30px;
        }
        .form-row{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            margin: 10px;
        }
    }
}