.room-offer{
    h1{
        margin: 80px 0 40px;
    }
    overflow: hidden;
    .room-swiper{
        border: 3px solid $gold;
        max-width: 900px;
        width: 100%;
        overflow-x: hidden;
        .swiper-room-container{
            position: relative;
            .swiper-wrapper{
                .swiper-slide{
                    figure{
                        width: 100%;
                        height: auto;
                        img{
                            width: 65%;
                            height: auto;
                            float: left;
                        }
                        figcaption {
                            width: 35%;
                            padding: 20px;
                            height: auto;
                            float: left;
                            h3{
                                font-family: 'Playfair Display', serif;
                                font-size: 20px;
                                padding: 7px 0;
                            }
                            h4{
                                font-size: 16px;
                                color: $gold;
                            }
                            p{
                                font-size: 14px;
                            }
                            .booking{
                                display: flex;
                                justify-content: flex-end;
                                a{
                                    font-size: 16px;
                                    color: #000;
                                    text-decoration: none;
                                }
                            }
                        }
                        &::after{
                            clear: both;
                        }
                    }
                }
            }
            .swiper-pagination-bullet{
                background: #fff;
                width: 10px;
                height: 10px;
            }
        }
    }
}

.all-room{
    h1{
        margin: 80px 0 40px;
    }
    ul.filters{
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        li{
            cursor: pointer;
            padding: 10px 15px;
            color: $gold;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    .all-room-container{
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        .room-list{
            padding: 0;
            &.fade-out {
                animation: fade-out .6s;
            }
            figure{
                position: relative;
                margin: 15px;
                @include border-shadow();
                overflow: hidden;
                img{
                    width: 100%;
                    -moz-transition: all 0.3s;
                    -webkit-transition: all 0.3s;
                    transition: all 0.3s;
                }
                &:hover{
                    img{
                        -moz-transform: scale(1.1);
                        -webkit-transform: scale(1.1);
                        transform: scale(1.1);
                    }
                }
                figcaption.book-room{
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: flex-start;
                    width: 100%;
                    height: 120px;
                    bottom: 0;
                    left: 0;
                    padding: 7px 15px;
                    background-color: #fff;
                    color: #000;
                    font-family: 'Quicksand', sans-serif;
                    h3{
                        font-family: 'Playfair Display', serif;
                        font-size: 18px;
                        padding: 7px 0;
                    }
                    h4{
                        font-size: 14px;
                        color: $gold;
                    }
                    p{
                        font-size: 12px;
                        line-height: 12px;
                        margin:3px 0;
                    }
                    .booking{
                        align-self: flex-end;
                        a{
                            font-size: 14px;
                            color: #000;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $tablet-landscape + px){
    .room-offer{
        .room-swiper{
            .swiper-room-container{
                .swiper-wrapper{
                    .swiper-slide{
                        figure{
                            img{
                                width: 60%;
                                height: auto;
                                float: left;
                            }
                            figcaption {
                                width: 40%;
                                padding: 20px;
                                height: auto;
                                float: left;
                                p{
                                    font-size: 13px;
                                    line-height: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }  
}

@media screen and (max-width: $tablet-portrait + px){
    .room-offer{
        .room-swiper{
            .swiper-room-container{
                .swiper-wrapper{
                    .swiper-slide{
                        figure{
                            img{
                                width: 100%;
                                height: auto;
                                float: left;
                            }
                            figcaption {
                                width: 100%;
                                padding: 20px;
                                height: auto;
                                float: left;
                                p{
                                    font-size: 13px;
                                    line-height: 15px;
                                }
                            }
                        }
                    }
                }
                .swiper-pagination{
                    .swiper-pagination-bullet{
                        background: $gold;
                    }
                }
            }
        }
    }
    .all-room{
        .all-room-container{
            margin: 0 -10px;
        }
    }
}
