.main-container{
    main{
        .parimis-contact{
            margin: 120px auto 0;
            max-width: 800px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            #map {
                height: 300px;
                width: 400px;
              }
            .parimis-adress{
                margin-left: 20px;
                max-width: 250px;
                padding: 20px;
                border: 2px solid $gold;
                p{
                    text-align: center;
                    line-height: 25px;
                    a:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $desktop-small + px){
    .main-container{

    }
}

@media screen and (max-width: $tablet-portrait + px){
    .main-container{

    }
}
