.content-container{
    .menu-container{
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        .menu-wrapper{
            display: flex;
            flex-flow: column nowrap;
            border: 3px solid $gold;
            .menu-visual{
                overflow: hidden;
                max-height: 230px;
                img{
                    -moz-transition: all 0.3s;
                    -webkit-transition: all 0.3s;
                    transition: all 0.3s;
                    &:hover{
                        -moz-transform: scale(1.05);
                        -webkit-transform: scale(1.05);
                        transform: scale(1.05);
                    }
                }
            }
            .menu-content{
                padding: 15px;
                background: $grey-lighter;
                display: flex;
                flex-flow: column nowrap;
                justify-content: flex-start;
                h2{
                    margin: 0 0 15px;
                }
                a{
                    align-self: flex-end;
                }
            }
        }
    }
}

@media screen and (max-width: $tablet-landscape + px) {
    .content-container{
        .menu-container{
            justify-content: center;
            margin: -10px;
        }
    }
}