* {
    box-sizing: border-box;
}

/*------------------------------------*\     
RESPONSIVE 
\*------------------------------------*/ 
$enable-responsive: true; 
$desktop-large:    1920; 
$desktop-medium:   1440; 
$desktop-small:    1280; 
$tablet-landscape: 1024; 
$tablet-portrait:  768; 
$mobile-landscape: 640; 
$mobile-portrait:  320;

/*------------------------------------*\     
COLOR
\*------------------------------------*/ 
$primary-color: blue;
$second-color: green;
$third-color: orange;
$dark-grey: #231F20;
$grey-lighter: #ededed;
$gold: #A57B1B;
$button-border-color:  #A57B1B;
$button-bgk-color:  #A57B1B;

$primary-text-color: #0E1111;

/*------------------------------------*\     
WIDTH
\*------------------------------------*/ 
$navbarSize: 200px;

/*------------------------------------*\     
FONT
\*------------------------------------*/ 

p, h2, h3, h4,ul, li, a, span, label {
    font-family: 'Quicksand', sans-serif;
}

h1{
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
}

p{
    line-height: 20px;
    margin: 10px 0;
}

@media screen and (max-width: $desktop-small + px){
    h1 {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: $tablet-portrait + px){
    h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width: $mobile-landscape + px) {
    h1 {
        font-size: 1.8rem;
    }
    p{
        line-height: 18px;
        font-size: 15px;
    }
}