header{
    margin:0;
    padding:0;
    .parimis-head{
    height: 30vw;
    background: url(../../img/hotel/parimis-hotel-eiffel-2.jpg) no-repeat top fixed; 
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
    }
}