nav.side-navbar{
    position: fixed;
    width: $navbarSize;
    top:0;
    left:0;
    height: 100%;
    padding: 25px;
    background-color: #fff;
    @include border-shadow-left();
    z-index: 2000;
    #navbar-burger{
        display: none;
    }
    .logo{
        img{
            max-width: 130px;
            transition: all .3s ease-in;
            &:hover{
                transform: scale(1.05);
            }
        }
    }
    ul{
        li{
            margin: 30px 0;
            a{
                text-decoration: none;
                color: $primary-text-color;
                font-size: 18px;
            }
        }
    }
    .select-lang{
        position: absolute;
        bottom: 10px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        div{
            padding: 0 10px;
            font-size: 12px;
            &:last-child{
                border-left: 1px solid grey;
            }
        }
    }
    .connexion-user--button{
        position: absolute;
        cursor: pointer;
        bottom: 0;
        right: 0;
        height: 50px;
        width: 50px;
        background-color: $gold;
        text-align: center;
        transition: all .3s ease-in;
        color: #fff;
            i{
                font-size: 25px;
                line-height: 50px;
            }
        &:hover{
            background-color: #fff;
            i{
                color: $gold;
            }
        }
    }
}

@media screen and (max-width: $desktop-small + px){
    nav.side-navbar{
        position: fixed;
        width: 100%;
        height: 50px;
        padding: 0;
        .logo{
            position: absolute;
            top: 12px;
            left: 25px;
            img{
                max-width: 100px;
            }
        }
        ul{
            width: calc(100% - 400px);
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            li{
                margin: 18px 0;
                a{
                    text-decoration: none;
                    color: $primary-text-color;
                    font-size: 16px;
                }
            }
        }
        .select-lang{
            flex-flow: column nowrap;
            right: 60px;
            top: 18px;
            bottom: 15px;
            width: 26px;
            div{
                line-height: 17px;
                padding: 0 5px;
                &:last-child{
                    border-top: 1px solid grey;
                    border-left: none;
                }
            }
        }
        .connexion-user--button{
            top: 0;
            right: 0;
            width: 50px;
            padding: 0;
        }
    }
}

@media screen and (max-width: $tablet-landscape + px){
    nav.side-navbar{
        ul{
            width: calc(100% - 300px);
            li{
                a{
                    font-size: 14px;
                }
            }
        }
    }
}

@media screen and (max-width: $tablet-portrait + px){
    nav.side-navbar{
        .logo{
            top: 12px;
            left: calc(50% - 50px);
        }
        #navbar-burger{
            display: inline-block;
            position: absolute;
            right: 0;
            margin: 9px 15px 6px;
            cursor: pointer;
            .bar1, .bar2, .bar3 {
                width: 35px;
                height: 3px;
                background-color: #333;
                margin: 6px 0;
                transition: 0.4s;
            }
            .bar1.change  {
                -webkit-transform: rotate(-45deg) translate(-9px, 5px);
                transform: rotate(-45deg) translate(-9px, 5px);
            }
            
            .bar2.change  {opacity: 0;}
            
            .bar3.change  {
                -webkit-transform: rotate(45deg) translate(-7px, -5px);
                transform: rotate(45deg) translate(-7px, -5px);
            }
        }
        .select-lang{
            left: 60px;
        }
        ul{
            position: fixed;
            display: flex;
            flex-flow: column nowrap;
            top: 51px;
            right: 0;
            background-color: #fff;
            width: 0;
            overflow: hidden;
            padding: 20px 0;
            transition: width .3s ease-in;
            &.visible{
                width: 100%;
            }
            li{
                margin: 10px 20px;
                a{
                    font-size: 16px;
                }
            }
        }
        .connexion-user--button{
            top: 0;
            left: 0;
        }
        &.nav-fade-top{
            animation: move-up-50 .4s normal ease-in;
            top:-50px;
        }
        &.nav-fade-down{
            animation: move-down-50 .4s normal ease-in;
            top: 0px;
        }
    }
}



