@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

/*------------------------------------*\     
RESPONSIVE 
\*------------------------------------*/
/*------------------------------------*\     
COLOR
\*------------------------------------*/
/*------------------------------------*\     
WIDTH
\*------------------------------------*/
/*------------------------------------*\     
EFFECT
\*------------------------------------*/
.button-visual {
  display: inline-block;
  position: relative;
  cursor: pointer;
  border: 2px solid #A57B1B;
  overflow: hidden;
  text-decoration: none;
  outline: none;
  color: #FFF;
  background: #A57B1B;
  font-size: 14px;
  font-family: 'Quicksand', sans-serif; }
  .button-visual span {
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s; }
  .button-visual:before, .button-visual:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-transition: .4s,opacity .6s;
    -moz-transition: .4s,opacity .6s;
    -o-transition: .4s,opacity .6s;
    transition: .4s,opacity .6s; }
  .button-visual:before {
    content: attr(data-hover);
    -webkit-transform: translate(-150%, 0);
    -moz-transform: translate(-150%, 0);
    -ms-transform: translate(-150%, 0);
    -o-transform: translate(-150%, 0);
    transform: translate(-150%, 0); }
  .button-visual:after {
    content: attr(data-active);
    -webkit-transform: translate(150%, 0);
    -moz-transform: translate(150%, 0);
    -ms-transform: translate(150%, 0);
    -o-transform: translate(150%, 0);
    transform: translate(150%, 0); }
  .button-visual:hover span, .button-visual:active span {
    opacity: 0;
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -o-transform: scale(0.3);
    transform: scale(0.3); }
  .button-visual:hover:before, .button-visual:active:after {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition-delay: .4s;
    -moz-transition-delay: .4s;
    -o-transition-delay: .4s;
    transition-delay: .4s; }
  .button-visual:active:before {
    -webkit-transform: translate(-150%, 0);
    -moz-transform: translate(-150%, 0);
    -ms-transform: translate(-150%, 0);
    -o-transform: translate(-150%, 0);
    transform: translate(-150%, 0);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s; }

/*------------------------------------*\     
FONT
\*------------------------------------*/
p, h2, h3, h4, ul, li, a, span, label {
  font-family: 'Quicksand', sans-serif; }

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3rem; }

p {
  line-height: 20px;
  margin: 10px 0; }

/*================================================
Underline--Magical
==================================================*/
.underline--magical {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in; }
  .underline--magical:hover {
    background-size: 100% 88%; }

.star-ratings-sprite {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
  font-size: 0;
  height: 21px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 110px; }
  .star-ratings-sprite-rating {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
    background-position: 0 100%;
    float: left;
    height: 21px;
    display: block; }

nav.side-navbar {
  position: fixed;
  width: 200px;
  height: 100%;
  padding: 25px;
  background-color: #fff;
  -moz-box-shadow: 1px 0px 2px 1px #656565;
  -webkit-box-shadow: 1px 0px 2px 1px #656565;
  -o-box-shadow: 1px 0px 2px 1px #656565;
  box-shadow: 1px 0px 2px 1px #656565;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=90, Strength=2);
  z-index: 2000; }
  nav.side-navbar #navbar-burger {
    display: none; }
  nav.side-navbar ul li {
    margin: 30px 0; }
    nav.side-navbar ul li a {
      text-decoration: none;
      color: #0E1111;
      font-size: 18px; }
  nav.side-navbar .select-lang {
    position: absolute;
    bottom: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around; }
    nav.side-navbar .select-lang div {
      padding: 0 10px; }
      nav.side-navbar .select-lang div img {
        transform: translateY(2px); }
      nav.side-navbar .select-lang div:last-child {
        border-left: 1px solid grey; }

@media screen and (max-width: 1024px) {
  nav.side-navbar {
    position: fixed;
    width: 100%;
    height: 50px;
    padding: 0; }
    nav.side-navbar ul {
      width: calc(100% - 200px);
      margin: 0 auto;
      display: flex;
      justify-content: space-between; }
      nav.side-navbar ul li {
        margin: 20px 0; }
        nav.side-navbar ul li a {
          text-decoration: none;
          color: #0E1111;
          font-size: 16px; } }
@media screen and (max-width: 768px) {
  nav.side-navbar {
    height: 50px;
    width: 100%; }
    nav.side-navbar #navbar-burger {
      display: inline-block;
      margin: 9px 15px 6px;
      cursor: pointer; }
      nav.side-navbar #navbar-burger .bar1, nav.side-navbar #navbar-burger .bar2, nav.side-navbar #navbar-burger .bar3 {
        width: 35px;
        height: 3px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s; }
      nav.side-navbar #navbar-burger .bar1.change {
        -webkit-transform: rotate(-45deg) translate(-9px, 5px);
        transform: rotate(-45deg) translate(-9px, 5px); }
      nav.side-navbar #navbar-burger .bar2.change {
        opacity: 0; }
      nav.side-navbar #navbar-burger .bar3.change {
        -webkit-transform: rotate(45deg) translate(-7px, -5px);
        transform: rotate(45deg) translate(-7px, -5px); }
    nav.side-navbar ul {
      display: none;
      background-color: #fff;
      width: 100%;
      padding: 20px; }
      nav.side-navbar ul.visible {
        display: block; } }
header {
  margin: 0;
  padding: 0; }
  header .parimis-head {
    height: 30vw;
    background: url(../../img/hotel/parimis-hotel-eiffel-2.jpg) no-repeat top fixed;
    -webkit-background-size: cover;
    /* pour anciens Chrome et Safari */
    background-size: cover;
    /* version standardis├®e */ }

@media screen and (max-width: 1024px) {
  header .parimis-head {
    min-height: 300px; } }
.search-bar {
  position: sticky;
  top: 0;
  padding: 10px 50px;
  min-height: 50px;
  background-color: #000;
  color: #fff;
  z-index: 1000; }
  .search-bar form {
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end; }
    .search-bar form input,
    .search-bar form select {
      cursor: pointer;
      height: 30px;
      width: 100px;
      margin: 0 10px; }
    .search-bar form #select-invite {
      cursor: pointer;
      position: relative;
      margin: 0 10px;
      line-height: 30px; }
      .search-bar form #select-invite #dropdown-invite {
        display: none;
        position: absolute;
        width: calc(100% + 20px);
        height: 180px;
        background-color: #f9f9f9;
        color: #0E1111;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding: 12px 16px;
        z-index: 1; }
        .search-bar form #select-invite #dropdown-invite.visible {
          display: flex;
          flex-flow: column nowrap;
          justify-content: space-around; }
        .search-bar form #select-invite #dropdown-invite .adulte-invite,
        .search-bar form #select-invite #dropdown-invite .child-invite {
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-end; }
          .search-bar form #select-invite #dropdown-invite .adulte-invite span,
          .search-bar form #select-invite #dropdown-invite .child-invite span {
            font-size: 14px; }
          .search-bar form #select-invite #dropdown-invite .adulte-invite select,
          .search-bar form #select-invite #dropdown-invite .child-invite select {
            width: 40px; }
    .search-bar form .button-visual {
      height: 30px;
      min-width: 100px;
      margin: 0 10px; }

@media screen and (max-width: 1024px) {
  .search-bar {
    top: 50px; }
    .search-bar form {
      margin: auto;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end; }
      .search-bar form input,
      .search-bar form select {
        cursor: pointer;
        height: 30px;
        width: 100px;
        margin: 0 10px; } }
.rooms-available {
  display: flex;
  justify-content: space-between;
  margin-top: 50px; }
  .rooms-available figure.swiper-slide {
    position: relative; }
    .rooms-available figure.swiper-slide img {
      width: 100%; }
    .rooms-available figure.swiper-slide figcaption.book-room {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-end;
      width: 100%;
      height: 50px;
      bottom: 0;
      left: 0;
      padding-right: 15px;
      background-color: #231F20;
      color: #fff;
      font-family: 'Quicksand', sans-serif; }
      .rooms-available figure.swiper-slide figcaption.book-room h3 {
        font-weight: bold; }
      .rooms-available figure.swiper-slide figcaption.book-room .booking a {
        color: #fff;
        text-decoration: none; }
  .rooms-available .swiper-nav {
    width: 100px; }
    .rooms-available .swiper-nav .swiper-button-next {
      position: relative;
      right: 0;
      margin-left: 20px;
      background-image: url("../../img/asset/arrowR.svg"); }

footer {
  margin-top: 150px;
  background-color: #000;
  padding: 30px 0 20px;
  color: #fff; }
  footer form {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-flow: wrap; }
    footer form label {
      width: 100%;
      text-align: center; }
    footer form input {
      height: 35px;
      margin: 10px 0;
      width: 334px; }
    footer form .button-visual {
      margin: 10px 0;
      font-size: 14px;
      line-height: 33px;
      height: 35px; }
  footer .footer-nav {
    display: flex;
    justify-content: center;
    margin-top: 30px; }
    footer .footer-nav li {
      text-transform: uppercase;
      list-style: inside;
      margin: 0 8px;
      font-size: 14px; }
      footer .footer-nav li a {
        color: #fff; }
      footer .footer-nav li:first-child {
        list-style: none; }

@media screen and (max-width: 640px) {
  footer form {
    width: calc(100% - 40px); }
    footer form input,
    footer form .button-visual {
      width: 100%;
      margin: 0; }
    footer form label {
      margin: 10px 0; }
  footer .footer-nav {
    flex-flow: column nowrap;
    align-items: center; }
    footer .footer-nav li {
      width: calc(100% - 40px);
      list-style: none;
      text-align: center;
      line-height: 35px;
      margin: 5px 0;
      color: #0E1111;
      background-color: #A57B1B;
      transition: all 0.4s ease-out; }
      footer .footer-nav li:last-child {
        background-color: transparent;
        color: #fff; }
      footer .footer-nav li.footer-link {
        cursor: pointer; }
        footer .footer-nav li.footer-link:hover {
          background-color: #fff; }
          footer .footer-nav li.footer-link:hover a {
            color: #A57B1B; } }
.main-container {
  width: calc(100% - ($navbarSize));
  margin-left: 200px; }
  .main-container main {
    max-width: 1240px;
    width: calc(100% - 100px);
    margin: 0 auto; }
    .main-container main .parimis-intro,
    .main-container main .parimis-rooms,
    .main-container main .parimis-services {
      margin-top: 80px;
      max-width: 800px; }
      .main-container main .parimis-intro img,
      .main-container main .parimis-rooms img,
      .main-container main .parimis-services img {
        width: 100%; }
      .main-container main .parimis-intro h1,
      .main-container main .parimis-rooms h1,
      .main-container main .parimis-services h1 {
        margin-top: -2rem; }
    .main-container main .parimis-rooms {
      margin-left: calc(100% - 800px);
      text-align: right; }

@media screen and (max-width: 1280px) {
  .main-container main .parimis-intro,
  .main-container main .parimis-rooms,
  .main-container main .parimis-services {
    max-width: 600px; }
    .main-container main .parimis-intro h1,
    .main-container main .parimis-rooms h1,
    .main-container main .parimis-services h1 {
      margin-top: -1.8rem;
      font-size: 2.5rem; }
  .main-container main .parimis-rooms {
    margin-left: calc(100% - 600px); } }
.main-container {
  width: calc(100% - ($navbarSize));
  margin-left: 200px; }
  .main-container main {
    max-width: 1240px;
    width: calc(100% - 100px);
    margin: 0 auto; }

@media screen and (max-width: 1024px) {
  .main-container {
    width: 100%;
    margin: 0; } }
a {
  text-decoration: none;
  color: #0E1111; }
  a:active, a:hover, a:visited {
    text-decoration: none;
    color: #0E1111; }

/*# sourceMappingURL=main.css.map */
