@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

/*------------------------------------*\     
RESPONSIVE 
\*------------------------------------*/
/*------------------------------------*\     
COLOR
\*------------------------------------*/
/*------------------------------------*\     
WIDTH
\*------------------------------------*/
/*------------------------------------*\     
FONT
\*------------------------------------*/
p, h2, h3, h4, ul, li, a, span, label {
  font-family: 'Quicksand', sans-serif; }

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3rem; }

p {
  line-height: 20px;
  margin: 10px 0; }

@media screen and (max-width: 1280px) {
  h1 {
    font-size: 2.5rem; } }
@media screen and (max-width: 768px) {
  h1 {
    font-size: 2rem; } }
@media screen and (max-width: 640px) {
  h1 {
    font-size: 1.8rem; }

  p {
    line-height: 18px;
    font-size: 15px; } }
.col-xl-1 {
  width: 8.3333333333%;
  padding: 10px; }

.col-xl-2 {
  width: 16.6666666667%;
  padding: 10px; }

.col-xl-3 {
  width: 25%;
  padding: 10px; }

.col-xl-4 {
  width: 33.3333333333%;
  padding: 10px; }

.col-xl-5 {
  width: 41.6666666667%;
  padding: 10px; }

.col-xl-6 {
  width: 50%;
  padding: 10px; }

.col-xl-7 {
  width: 58.3333333333%;
  padding: 10px; }

.col-xl-8 {
  width: 66.6666666667%;
  padding: 10px; }

.col-xl-9 {
  width: 75%;
  padding: 10px; }

.col-xl-10 {
  width: 83.3333333333%;
  padding: 10px; }

.col-xl-11 {
  width: 91.6666666667%;
  padding: 10px; }

.col-xl-12 {
  width: 100%;
  padding: 10px; }

@media screen and (max-width: 1440px) {
  .col-lg-1 {
    width: 8.3333333333%;
    padding: 10px; }

  .col-lg-2 {
    width: 16.6666666667%;
    padding: 10px; }

  .col-lg-3 {
    width: 25%;
    padding: 10px; }

  .col-lg-4 {
    width: 33.3333333333%;
    padding: 10px; }

  .col-lg-5 {
    width: 41.6666666667%;
    padding: 10px; }

  .col-lg-6 {
    width: 50%;
    padding: 10px; }

  .col-lg-7 {
    width: 58.3333333333%;
    padding: 10px; }

  .col-lg-8 {
    width: 66.6666666667%;
    padding: 10px; }

  .col-lg-9 {
    width: 75%;
    padding: 10px; }

  .col-lg-10 {
    width: 83.3333333333%;
    padding: 10px; }

  .col-lg-11 {
    width: 91.6666666667%;
    padding: 10px; }

  .col-lg-12 {
    width: 100%;
    padding: 10px; } }
@media screen and (max-width: 1280px) {
  .col-md-1 {
    width: 8.3333333333%;
    padding: 10px; }

  .col-md-2 {
    width: 16.6666666667%;
    padding: 10px; }

  .col-md-3 {
    width: 25%;
    padding: 10px; }

  .col-md-4 {
    width: 33.3333333333%;
    padding: 10px; }

  .col-md-5 {
    width: 41.6666666667%;
    padding: 10px; }

  .col-md-6 {
    width: 50%;
    padding: 10px; }

  .col-md-7 {
    width: 58.3333333333%;
    padding: 10px; }

  .col-md-8 {
    width: 66.6666666667%;
    padding: 10px; }

  .col-md-9 {
    width: 75%;
    padding: 10px; }

  .col-md-10 {
    width: 83.3333333333%;
    padding: 10px; }

  .col-md-11 {
    width: 91.6666666667%;
    padding: 10px; }

  .col-md-12 {
    width: 100%;
    padding: 10px; } }
@media screen and (max-width: 768px) {
  .col-sm-1 {
    width: 8.3333333333%;
    padding: 10px; }

  .col-sm-2 {
    width: 16.6666666667%;
    padding: 10px; }

  .col-sm-3 {
    width: 25%;
    padding: 10px; }

  .col-sm-4 {
    width: 33.3333333333%;
    padding: 10px; }

  .col-sm-5 {
    width: 41.6666666667%;
    padding: 10px; }

  .col-sm-6 {
    width: 50%;
    padding: 10px; }

  .col-sm-7 {
    width: 58.3333333333%;
    padding: 10px; }

  .col-sm-8 {
    width: 66.6666666667%;
    padding: 10px; }

  .col-sm-9 {
    width: 75%;
    padding: 10px; }

  .col-sm-10 {
    width: 83.3333333333%;
    padding: 10px; }

  .col-sm-11 {
    width: 91.6666666667%;
    padding: 10px; }

  .col-sm-12 {
    width: 100%;
    padding: 10px; } }
@media screen and (max-width: 640px) {
  .col-xs-1 {
    width: 8.3333333333%;
    padding: 10px; }

  .col-xs-2 {
    width: 16.6666666667%;
    padding: 10px; }

  .col-xs-3 {
    width: 25%;
    padding: 10px; }

  .col-xs-4 {
    width: 33.3333333333%;
    padding: 10px; }

  .col-xs-5 {
    width: 41.6666666667%;
    padding: 10px; }

  .col-xs-6 {
    width: 50%;
    padding: 10px; }

  .col-xs-7 {
    width: 58.3333333333%;
    padding: 10px; }

  .col-xs-8 {
    width: 66.6666666667%;
    padding: 10px; }

  .col-xs-9 {
    width: 75%;
    padding: 10px; }

  .col-xs-10 {
    width: 83.3333333333%;
    padding: 10px; }

  .col-xs-11 {
    width: 91.6666666667%;
    padding: 10px; }

  .col-xs-12 {
    width: 100%;
    padding: 10px; } }
.pos-relative {
  position: relative; }

/*------------------------------------*\     
EFFECT
\*------------------------------------*/
.button-visual {
  display: inline-block;
  position: relative;
  cursor: pointer;
  border: 2px solid #A57B1B;
  overflow: hidden;
  text-decoration: none;
  outline: none;
  color: #FFF;
  background: #A57B1B;
  font-size: 14px;
  font-family: 'Quicksand', sans-serif; }
  .button-visual span {
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s; }
  .button-visual:before, .button-visual:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-transition: .4s,opacity .6s;
    -moz-transition: .4s,opacity .6s;
    -o-transition: .4s,opacity .6s;
    transition: .4s,opacity .6s; }
  .button-visual:before {
    content: attr(data-hover);
    -webkit-transform: translate(-150%, 0);
    -moz-transform: translate(-150%, 0);
    -ms-transform: translate(-150%, 0);
    -o-transform: translate(-150%, 0);
    transform: translate(-150%, 0); }
  .button-visual:after {
    content: attr(data-active);
    -webkit-transform: translate(150%, 0);
    -moz-transform: translate(150%, 0);
    -ms-transform: translate(150%, 0);
    -o-transform: translate(150%, 0);
    transform: translate(150%, 0); }
  .button-visual:hover span, .button-visual:active span {
    opacity: 0;
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -o-transform: scale(0.3);
    transform: scale(0.3); }
  .button-visual:hover:before, .button-visual:active:after {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition-delay: .4s;
    -moz-transition-delay: .4s;
    -o-transition-delay: .4s;
    transition-delay: .4s; }
  .button-visual:active:before {
    -webkit-transform: translate(-150%, 0);
    -moz-transform: translate(-150%, 0);
    -ms-transform: translate(-150%, 0);
    -o-transform: translate(-150%, 0);
    transform: translate(-150%, 0);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s; }

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(80px); }
  to {
    opacity: 1; } }
.fade-in-element {
  animation: fade-in .6s; }

@keyframes fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translateY(-10px); } }
.fade-out-element {
  animation: fade-out .6s; }

@keyframes slide-up {
  0% {
    height: 100vh; }
  75% {
    opacity: 1; }
  100% {
    height: 0;
    opacity: 0;
    display: none; } }
.slide-up-element {
  animation: slide-up .6s; }

@keyframes fade {
  0% {
    opacity: 1; }
  33.333% {
    opacity: 0; }
  66.666% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fade2 {
  0% {
    opacity: 0; }
  33.333% {
    opacity: 1; }
  66.666% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@keyframes fade3 {
  0% {
    opacity: 0; }
  33.333% {
    opacity: 0; }
  66.666% {
    opacity: 1; }
  100% {
    opacity: 0; } }
/*================================================
Underline--Magical
==================================================*/
.underline--magical {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in; }
  .underline--magical:hover {
    background-size: 100% 88%; }

.star-ratings-sprite {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
  font-size: 0;
  height: 21px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 110px; }
  .star-ratings-sprite-rating {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
    background-position: 0 100%;
    float: left;
    height: 21px;
    display: block; }

nav.side-navbar {
  position: fixed;
  width: 200px;
  height: 100%;
  padding: 25px;
  background-color: #fff;
  -moz-box-shadow: 0px 0px 1px 1px #656565;
  -webkit-box-shadow: 0px 0px 1px 1px #656565;
  -o-box-shadow: 0px 0px 1px 1px #656565;
  box-shadow: 0px 0px 1px 1px #656565;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=90, Strength=2);
  z-index: 2000; }
  nav.side-navbar #navbar-burger {
    display: none; }
  nav.side-navbar ul li {
    margin: 30px 0; }
    nav.side-navbar ul li a {
      text-decoration: none;
      color: #0E1111;
      font-size: 18px; }
  nav.side-navbar .select-lang {
    position: absolute;
    bottom: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around; }
    nav.side-navbar .select-lang div {
      padding: 0 10px;
      font-size: 12px; }
      nav.side-navbar .select-lang div:last-child {
        border-left: 1px solid grey; }

@media screen and (max-width: 1280px) {
  nav.side-navbar {
    position: fixed;
    width: 100%;
    height: 50px;
    padding: 0; }
    nav.side-navbar ul {
      width: calc(100% - 400px);
      margin: 0 auto;
      display: flex;
      justify-content: space-between; }
      nav.side-navbar ul li {
        margin: 20px 0; }
        nav.side-navbar ul li a {
          text-decoration: none;
          color: #0E1111;
          font-size: 16px; }
    nav.side-navbar .select-lang {
      right: 10px;
      top: 18px;
      bottom: 15px; }
      nav.side-navbar .select-lang div {
        line-height: 17px; } }
@media screen and (max-width: 1024px) {
  nav.side-navbar ul {
    width: calc(100% - 300px); }
    nav.side-navbar ul li a {
      font-size: 14px; } }
@media screen and (max-width: 768px) {
  nav.side-navbar {
    height: 50px;
    width: 100%; }
    nav.side-navbar #navbar-burger {
      display: inline-block;
      margin: 9px 15px 6px;
      cursor: pointer; }
      nav.side-navbar #navbar-burger .bar1, nav.side-navbar #navbar-burger .bar2, nav.side-navbar #navbar-burger .bar3 {
        width: 35px;
        height: 3px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s; }
      nav.side-navbar #navbar-burger .bar1.change {
        -webkit-transform: rotate(-45deg) translate(-9px, 5px);
        transform: rotate(-45deg) translate(-9px, 5px); }
      nav.side-navbar #navbar-burger .bar2.change {
        opacity: 0; }
      nav.side-navbar #navbar-burger .bar3.change {
        -webkit-transform: rotate(45deg) translate(-7px, -5px);
        transform: rotate(45deg) translate(-7px, -5px); }
    nav.side-navbar ul {
      display: none;
      background-color: #fff;
      width: 100%;
      padding: 20px; }
      nav.side-navbar ul.visible {
        display: block; } }
header {
  margin: 0;
  padding: 0; }
  header .parimis-head {
    height: 30vw;
    background: url(../../img/hotel/parimis-hotel-eiffel-2.jpg) no-repeat top fixed;
    -webkit-background-size: cover;
    /* pour anciens Chrome et Safari */
    background-size: cover;
    /* version standardis├®e */ }

@media screen and (max-width: 1024px) {
  header .parimis-head {
    min-height: 300px; } }
.search-bar {
  position: sticky;
  top: 0;
  padding: 10px 40px;
  min-height: 50px;
  background-color: #000;
  color: #fff;
  z-index: 1000; }
  .search-bar form {
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end; }
    .search-bar form input,
    .search-bar form select {
      cursor: pointer;
      height: 30px;
      width: 90px;
      margin: 0 10px; }
    .search-bar form #select-invite {
      cursor: pointer;
      position: relative;
      margin: 0 10px;
      line-height: 30px; }
      .search-bar form #select-invite #dropdown-invite {
        display: none;
        position: absolute;
        width: calc(100% + 20px);
        height: 180px;
        background-color: #f9f9f9;
        color: #0E1111;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding: 12px 16px;
        z-index: 1; }
        .search-bar form #select-invite #dropdown-invite.visible {
          display: flex;
          flex-flow: column nowrap;
          justify-content: space-around; }
        .search-bar form #select-invite #dropdown-invite .adulte-invite,
        .search-bar form #select-invite #dropdown-invite .child-invite {
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-end; }
          .search-bar form #select-invite #dropdown-invite .adulte-invite span,
          .search-bar form #select-invite #dropdown-invite .child-invite span {
            font-size: 14px; }
          .search-bar form #select-invite #dropdown-invite .adulte-invite select,
          .search-bar form #select-invite #dropdown-invite .child-invite select {
            width: 40px; }
    .search-bar form .button-visual {
      height: 30px;
      min-width: 100px;
      margin: 0 10px; }

@media screen and (max-width: 1280px) {
  .search-bar {
    top: 50px; } }
@media screen and (max-width: 768px) {
  .search-bar {
    padding: 10px 20px; }
    .search-bar form {
      flex-flow: row wrap;
      justify-content: space-between; }
      .search-bar form input,
      .search-bar form select,
      .search-bar form div#select-invite,
      .search-bar form button#check-number-invite {
        margin: 10px; }
      .search-bar form button#check-number-invite {
        width: 100%; } }
@media screen and (max-width: 768px) {
  .search-bar {
    position: static; } }
.special-offer {
  padding: 40px 0;
  margin: 0 auto;
  background-color: #ededed; }
  .special-offer .offer-container {
    max-width: 1240px;
    width: calc(100% - 100px);
    margin: 0 auto; }
    .special-offer .offer-container .rooms-available {
      display: flex;
      justify-content: space-between;
      margin-top: 30px; }
      .special-offer .offer-container .rooms-available .swiper-container {
        padding: 5px; }
      .special-offer .offer-container .rooms-available figure.swiper-slide {
        position: relative;
        cursor: pointer;
        -moz-box-shadow: 0px 0px 2px 1px #656565;
        -webkit-box-shadow: 0px 0px 2px 1px #656565;
        -o-box-shadow: 0px 0px 2px 1px #656565;
        box-shadow: 0px 0px 2px 1px #656565;
        filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=2); }
        .special-offer .offer-container .rooms-available figure.swiper-slide img {
          width: 100%; }
        .special-offer .offer-container .rooms-available figure.swiper-slide figcaption.book-room {
          position: absolute;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: flex-start;
          width: 100%;
          height: 80px;
          bottom: 0;
          left: 0;
          padding: 7px 15px;
          background-color: #fff;
          color: #000;
          font-family: 'Quicksand', sans-serif; }
          .special-offer .offer-container .rooms-available figure.swiper-slide figcaption.book-room h3 {
            font-family: 'Playfair Display', serif;
            font-size: 18px;
            padding: 7px 0; }
          .special-offer .offer-container .rooms-available figure.swiper-slide figcaption.book-room h4 {
            font-size: 12px;
            color: #A57B1B; }
          .special-offer .offer-container .rooms-available figure.swiper-slide figcaption.book-room .booking {
            align-self: flex-end; }
            .special-offer .offer-container .rooms-available figure.swiper-slide figcaption.book-room .booking a {
              font-size: 12px;
              color: #000;
              text-decoration: none; }
      .special-offer .offer-container .rooms-available .swiper-nav {
        width: 100px; }
        .special-offer .offer-container .rooms-available .swiper-nav .swiper-button-next {
          position: relative;
          right: 0;
          margin-left: 20px;
          background-image: url("../../img/asset/arrowR.svg"); }

@media screen and (max-width: 768px) {
  .special-offer {
    padding: 40px 20px; } }
footer {
  margin-top: 150px;
  background-color: #000;
  padding: 30px 0 20px;
  color: #fff; }
  footer form {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-flow: wrap; }
    footer form label {
      width: 100%;
      text-align: center; }
    footer form input {
      height: 35px;
      margin: 10px 0;
      width: 334px; }
    footer form .button-visual {
      margin: 10px 0;
      font-size: 14px;
      line-height: 33px;
      height: 35px; }
  footer .footer-nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 30px; }
    footer .footer-nav li {
      text-transform: uppercase;
      list-style: inside;
      margin: 10px 8px;
      font-size: 12px; }
      footer .footer-nav li a {
        color: #fff; }
        footer .footer-nav li a:hover {
          text-decoration: underline;
          color: lightgray; }
      footer .footer-nav li:first-child {
        list-style: none; }

@media screen and (max-width: 640px) {
  footer form {
    width: calc(100% - 40px); }
    footer form input,
    footer form .button-visual {
      width: 100%;
      margin: 0; }
    footer form label {
      margin: 10px 0; }
  footer .footer-nav {
    flex-flow: column nowrap;
    align-items: center; }
    footer .footer-nav li {
      width: calc(100% - 40px);
      list-style: none;
      text-align: center;
      line-height: 35px;
      margin: 5px 0;
      color: #0E1111;
      background-color: #A57B1B;
      transition: all 0.4s ease-out; }
      footer .footer-nav li:last-child {
        background-color: transparent;
        color: #fff; }
      footer .footer-nav li.footer-link {
        cursor: pointer; }
        footer .footer-nav li.footer-link:hover {
          background-color: #fff; }
          footer .footer-nav li.footer-link:hover a {
            color: #A57B1B;
            text-decoration: none; } }
.main-container main .parimis-contact {
  margin: 120px auto 0;
  max-width: 800px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center; }
  .main-container main .parimis-contact #map {
    height: 300px;
    width: 400px; }
  .main-container main .parimis-contact .parimis-adress {
    margin-left: 20px;
    max-width: 250px;
    padding: 20px;
    border: 2px solid #A57B1B; }
    .main-container main .parimis-contact .parimis-adress p {
      text-align: center;
      line-height: 25px; }
      .main-container main .parimis-contact .parimis-adress p a:hover {
        text-decoration: underline; }

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }
  .video-container iframe,
  .video-container object,
  .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.parimis-event {
  margin-top: 120px; }
  .parimis-event .all-video-container {
    display: flex;
    flex-flow: row wrap;
    margin-top: 40px; }

.parimis-press {
  margin-top: 120px; }

.all-room h1 {
  margin: 80px 0 40px; }
.all-room ul.filters {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start; }
  .all-room ul.filters li {
    cursor: pointer;
    padding: 10px 15px;
    color: #A57B1B; }
    .all-room ul.filters li:hover {
      text-decoration: underline; }
.all-room .all-room-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start; }
  .all-room .all-room-container .room-list {
    padding: 0; }
    .all-room .all-room-container .room-list.fade-out {
      animation: fade-out .6s; }
    .all-room .all-room-container .room-list figure {
      position: relative;
      cursor: pointer;
      margin: 15px;
      -moz-box-shadow: 0px 0px 2px 1px #656565;
      -webkit-box-shadow: 0px 0px 2px 1px #656565;
      -o-box-shadow: 0px 0px 2px 1px #656565;
      box-shadow: 0px 0px 2px 1px #656565;
      filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=2); }
      .all-room .all-room-container .room-list figure img {
        width: 100%; }
      .all-room .all-room-container .room-list figure figcaption.book-room {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        width: 100%;
        height: 80px;
        bottom: 0;
        left: 0;
        padding: 7px 15px;
        background-color: #fff;
        color: #000;
        font-family: 'Quicksand', sans-serif; }
        .all-room .all-room-container .room-list figure figcaption.book-room h3 {
          font-family: 'Playfair Display', serif;
          font-size: 18px;
          padding: 7px 0; }
        .all-room .all-room-container .room-list figure figcaption.book-room h4 {
          font-size: 12px;
          color: #A57B1B; }
        .all-room .all-room-container .room-list figure figcaption.book-room .booking {
          align-self: flex-end; }
          .all-room .all-room-container .room-list figure figcaption.book-room .booking a {
            font-size: 12px;
            color: #000;
            text-decoration: none; }

#loader {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  z-index: 10000;
  display: none; }
  #loader.visible {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center; }
    #loader.visible img {
      width: 30px;
      height: 30px; }
  #loader.hidden {
    display: none; }

.main-container {
  margin-left: 200px; }
  .main-container main {
    max-width: 1240px;
    width: calc(100% - 100px);
    margin: 0 auto; }
    .main-container main .section-left,
    .main-container main .section-right {
      margin-top: 120px;
      max-width: 800px; }
      .main-container main .section-left img,
      .main-container main .section-right img {
        width: 100%; }
      .main-container main .section-left h1,
      .main-container main .section-right h1 {
        margin-top: -2rem;
        margin-bottom: 30px; }
    .main-container main .section-right {
      margin-left: calc(100% - 800px);
      text-align: right; }

a {
  text-decoration: none;
  color: #0E1111; }
  a:active, a:hover, a:visited {
    text-decoration: none;
    color: #0E1111; }

.carrousel-simple {
  position: relative;
  width: 530px;
  margin-left: 270px; }
  .carrousel-simple img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
    .carrousel-simple img.no-bckg {
      position: relative; }
    .carrousel-simple img.slide-1 {
      animation: fade 8s infinite;
      -webkit-animation: fade 10s infinite; }
    .carrousel-simple img.slide-2 {
      animation: fade2 8s infinite;
      -webkit-animation: fade2 10s infinite; }
    .carrousel-simple img.slide-3 {
      animation: fade3 8s infinite;
      -webkit-animation: fade3 10s infinite; }

@media screen and (max-width: 1280px) {
  .main-container {
    width: 100%;
    margin: 0; }
    .main-container main .section-left,
    .main-container main .section-right {
      max-width: 600px; }
      .main-container main .section-left h1,
      .main-container main .section-right h1 {
        margin-top: -1.8rem;
        font-size: 2.5rem; }
    .main-container main .section-right {
      margin-left: calc(100% - 600px); }

  .carrousel-simple {
    margin-left: 70px; } }
@media screen and (max-width: 768px) {
  .main-container main {
    width: calc(100% - 40px); }
    .main-container main .section-left,
    .main-container main .section-right {
      max-width: 600px;
      width: 100%;
      margin: 50px auto; }
      .main-container main .section-left h1,
      .main-container main .section-right h1 {
        margin-top: -1.4rem;
        font-size: 1.8rem; }

  .carrousel-simple {
    margin: 0 auto;
    width: 100%; } }

/*# sourceMappingURL=main.css.map */
